---
// Define props for the button component
const { text, href } = Astro.props;
---

<a href={href} class="btn" target="_blank">
  {text}
</a>

<style>
  .btn {
    @apply inline-block font-bold no-underline tracking-tight text-slate-50 px-4 py-2 rounded-md shadow-lg transition-transform duration-300 ease-in-out;
    background-color: var(--clr-rose);
    box-shadow:
      0 10px 20px rgba(225, 29, 72, 0.5),
      0 6px 6px rgba(225, 29, 72, 0.5),
      0 0 100px -10px var(--clr-rose);
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow:
      0 14px 28px rgba(225, 29, 72, 0.25),
      0 10px 10px rgba(225, 29, 72, 0.22),
      0 0 120px -10px var(--clr-rose);
  }
</style>
