<button
  aria-label="Theme toggler"
  data-theme-toggle
  class="cursor-pointer rounded-lg border-0 p-2 transition-transform duration-200 ease-in-out hover:scale-90 active:scale-100"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    class="fill-current text-gray-700 dark:text-gray-300"
  >
    <path
      class="sun"
      d="M6.995 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007-2.246-5.007-5.007-5.007S6.995 9.239 6.995 12zM11 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2H2zm17 0h3v2h-3zM5.637 19.778l-1.414-1.414 2.121-2.121 1.414 1.414zM16.242 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.344 7.759 4.223 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"
    ></path>
    <path
      class="moon"
      d="M12 11.807A9.002 9.002 0 0 1 10.049 2a9.942 9.942 0 0 0-5.12 2.735c-3.905 3.905-3.905 10.237 0 14.142 3.906 3.906 10.237 3.905 14.143 0a9.946 9.946 0 0 0 2.735-5.119A9.003 9.003 0 0 1 12 11.807z"
    ></path>
  </svg>
</button>

<script>
  const DARK_THEME_CLASS = 'dark';
  const COLOUR_MODE = 'COLOUR_MODE';
  const LIGHT_THEME = 'LIGHT';
  const DARK_THEME = 'DARK';

  const applyStoredTheme = () => {
    const storedTheme = window.localStorage.getItem(COLOUR_MODE);
    if (storedTheme === DARK_THEME) {
      document.documentElement.classList.add(DARK_THEME_CLASS);
    } else {
      document.documentElement.classList.remove(DARK_THEME_CLASS);
    }
  };

  document.addEventListener('astro:page-load', () => {
    const toggle = document.querySelector('[data-theme-toggle]');
    const rootEl = document.documentElement;

    toggle &&
      toggle.addEventListener('click', () => {
        rootEl.classList.toggle(DARK_THEME_CLASS);

        const colourMode = rootEl.classList.contains(DARK_THEME_CLASS)
          ? DARK_THEME
          : LIGHT_THEME;

        window.localStorage.setItem(COLOUR_MODE, colourMode);
      });

    applyStoredTheme();
  });

  applyStoredTheme();
</script>

<style>
  .sun {
    opacity: 0;
  }

  :global(.dark) .sun {
    opacity: 1;
  }

  :global(.dark) .moon {
    opacity: 0;
  }
</style>
